legacy/ETL.Console/bin/Release/net8.0/ETL.Console.dll
legacy/ETL.Console/bin/Release/net8.0/ETL.Console.pdb
legacy/ETL.Console/bin/Release/net8.0/ETL.Core.dll
legacy/ETL.Console/bin/Release/net8.0/ETL.Core.pdb
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.AssemblyInfo.cs
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.AssemblyInfoInputs.cache
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.csproj.AssemblyReference.cache
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.csproj.FileListAbsolute.txt
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.dll
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.pdb
legacy/ETL.Console/obj/Release/net8.0/ETL.Console.sourcelink.json
legacy/ETL.Console/obj/Release/net8.0/ref/ETL.Console.dll
legacy/ETL.Console/obj/Release/net8.0/refint/ETL.Console.dll
legacy/ETL.Core/bin/Release/net8.0/ETL.Core.dll
legacy/ETL.Core/bin/Release/net8.0/ETL.Core.pdb
legacy/ETL.Core/obj/Release/net8.0/ETL.Core.AssemblyInfo.cs
legacy/ETL.Core/obj/Release/net8.0/ETL.Core.AssemblyInfoInputs.cache
legacy/ETL.Core/obj/Release/net8.0/ETL.Core.csproj.FileListAbsolute.txt
legacy/ETL.Core/obj/Release/net8.0/ETL.Core.dll
legacy/ETL.Core/obj/Release/net8.0/ETL.Core.pdb
legacy/ETL.Core/obj/Release/net8.0/ETL.Core.sourcelink.json
legacy/ETL.Core/obj/Release/net8.0/ref/ETL.Core.dll
legacy/ETL.Core/obj/Release/net8.0/refint/ETL.Core.dll
legacy/ETL.Tests/bin/Release/net8.0/CoverletSourceRootsMapping_ETL.Tests
legacy/ETL.Tests/bin/Release/net8.0/ETL.Core.dll
legacy/ETL.Tests/bin/Release/net8.0/ETL.Core.pdb
legacy/ETL.Tests/bin/Release/net8.0/ETL.Tests.dll
legacy/ETL.Tests/bin/Release/net8.0/ETL.Tests.pdb
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.AssemblyInfo.cs
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.AssemblyInfoInputs.cache
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.csproj.AssemblyReference.cache
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.csproj.FileListAbsolute.txt
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.dll
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.pdb
legacy/ETL.Tests/obj/Release/net8.0/ETL.Tests.sourcelink.json
legacy/ETL.Tests/obj/Release/net8.0/ref/ETL.Tests.dll
legacy/ETL.Tests/obj/Release/net8.0/refint/ETL.Tests.dll
src/ETL.Enterprise.Application/bin/Release/net8.0/ETL.Enterprise.Application.dll
src/ETL.Enterprise.Application/bin/Release/net8.0/ETL.Enterprise.Application.pdb
src/ETL.Enterprise.Application/bin/Release/net8.0/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Application/bin/Release/net8.0/ETL.Enterprise.Domain.pdb
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.AssemblyInfo.cs
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.AssemblyInfoInputs.cache
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.csproj.AssemblyReference.cache
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.csproj.FileListAbsolute.txt
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.dll
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.pdb
src/ETL.Enterprise.Application/obj/Release/net8.0/ETL.Enterprise.Application.sourcelink.json
src/ETL.Enterprise.Application/obj/Release/net8.0/ref/ETL.Enterprise.Application.dll
src/ETL.Enterprise.Application/obj/Release/net8.0/refint/ETL.Enterprise.Application.dll
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Application.dll
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Application.pdb
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Console.dll
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Console.pdb
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Domain.pdb
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Infrastructure.dll
src/ETL.Enterprise.Console/bin/Release/net8.0/ETL.Enterprise.Infrastructure.pdb
src/ETL.Enterprise.Console/obj/Release/net8.0/ETL.Enterprise.Console.AssemblyInfo.cs
src/ETL.Enterprise.Console/obj/Release/net8.0/ETL.Enterprise.Console.AssemblyInfoInputs.cache
src/ETL.Enterprise.Console/obj/Release/net8.0/ETL.Enterprise.Console.csproj.AssemblyReference.cache
src/ETL.Enterprise.Console/obj/Release/net8.0/ETL.Enterprise.Console.dll
src/ETL.Enterprise.Console/obj/Release/net8.0/ETL.Enterprise.Console.pdb
src/ETL.Enterprise.Console/obj/Release/net8.0/ref/ETL.Enterprise.Console.dll
src/ETL.Enterprise.Console/obj/Release/net8.0/refint/ETL.Enterprise.Console.dll
src/ETL.Enterprise.Domain/bin/Release/net8.0/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Domain/bin/Release/net8.0/ETL.Enterprise.Domain.pdb
src/ETL.Enterprise.Domain/obj/Release/net8.0/ETL.Enterprise.Domain.AssemblyInfo.cs
src/ETL.Enterprise.Domain/obj/Release/net8.0/ETL.Enterprise.Domain.AssemblyInfoInputs.cache
src/ETL.Enterprise.Domain/obj/Release/net8.0/ETL.Enterprise.Domain.csproj.FileListAbsolute.txt
src/ETL.Enterprise.Domain/obj/Release/net8.0/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Domain/obj/Release/net8.0/ETL.Enterprise.Domain.pdb
src/ETL.Enterprise.Domain/obj/Release/net8.0/ETL.Enterprise.Domain.sourcelink.json
src/ETL.Enterprise.Domain/obj/Release/net8.0/ref/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Domain/obj/Release/net8.0/refint/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Infrastructure/bin/Release/net8.0/ETL.Enterprise.Application.dll
src/ETL.Enterprise.Infrastructure/bin/Release/net8.0/ETL.Enterprise.Application.pdb
src/ETL.Enterprise.Infrastructure/bin/Release/net8.0/ETL.Enterprise.Domain.dll
src/ETL.Enterprise.Infrastructure/bin/Release/net8.0/ETL.Enterprise.Domain.pdb
src/ETL.Enterprise.Infrastructure/bin/Release/net8.0/ETL.Enterprise.Infrastructure.dll
src/ETL.Enterprise.Infrastructure/bin/Release/net8.0/ETL.Enterprise.Infrastructure.pdb
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.AssemblyInfo.cs
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.AssemblyInfoInputs.cache
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.csproj.AssemblyReference.cache
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.csproj.CoreCompileInputs.cache
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.csproj.FileListAbsolute.txt
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.dll
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.pdb
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ETL.Enterprise.Infrastructure.sourcelink.json
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/ref/ETL.Enterprise.Infrastructure.dll
src/ETL.Enterprise.Infrastructure/obj/Release/net8.0/refint/ETL.Enterprise.Infrastructure.dll
src/SSIS_Transform_Project/bin/Release/net472/log4net.dll
src/SSIS_Transform_Project/bin/Release/net472/Newtonsoft.Json.dll
src/SSIS_Transform_Project/bin/Release/net472/SSIS_Transform.dll
src/SSIS_Transform_Project/bin/Release/net472/SSIS_Transform.pdb
src/SSIS_Transform_Project/bin/Release/net472/System.Data.SqlClient.dll
src/SSIS_Transform_Project/obj/project.assets.json
src/SSIS_Transform_Project/obj/project.nuget.cache
src/SSIS_Transform_Project/obj/SSIS_Transform.csproj.nuget.dgspec.json
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.assets.cache
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.csproj.AssemblyReference.cache
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.csproj.CopyComplete
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.csproj.CoreCompileInputs.cache
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.csproj.FileListAbsolute.txt
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.dll
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.pdb
src/SSIS_Transform_Project/obj/Release/net472/SSIS_Transform.sourcelink.json
src/standalone/bin/Release/net6.0/Azure.Core.dll
src/standalone/bin/Release/net6.0/Azure.Identity.dll
src/standalone/bin/Release/net6.0/BouncyCastle.Cryptography.dll
src/standalone/bin/Release/net6.0/ETL.Scalable
src/standalone/bin/Release/net6.0/ETL.Scalable.deps.json
src/standalone/bin/Release/net6.0/ETL.Scalable.dll
src/standalone/bin/Release/net6.0/ETL.Scalable.pdb
src/standalone/bin/Release/net6.0/ETL.Scalable.runtimeconfig.json
src/standalone/bin/Release/net6.0/Google.Protobuf.dll
src/standalone/bin/Release/net6.0/K4os.Compression.LZ4.dll
src/standalone/bin/Release/net6.0/K4os.Compression.LZ4.Streams.dll
src/standalone/bin/Release/net6.0/K4os.Hash.xxHash.dll
src/standalone/bin/Release/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
src/standalone/bin/Release/net6.0/Microsoft.Data.SqlClient.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.Binder.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.CommandLine.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.Json.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Configuration.UserSecrets.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Hosting.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.Configuration.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.Console.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.Debug.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.EventLog.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Logging.EventSource.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Options.dll
src/standalone/bin/Release/net6.0/Microsoft.Extensions.Primitives.dll
src/standalone/bin/Release/net6.0/Microsoft.Identity.Client.dll
src/standalone/bin/Release/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
src/standalone/bin/Release/net6.0/Microsoft.IdentityModel.Abstractions.dll
src/standalone/bin/Release/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/standalone/bin/Release/net6.0/Microsoft.IdentityModel.Logging.dll
src/standalone/bin/Release/net6.0/Microsoft.IdentityModel.Protocols.dll
src/standalone/bin/Release/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/standalone/bin/Release/net6.0/Microsoft.IdentityModel.Tokens.dll
src/standalone/bin/Release/net6.0/Microsoft.SqlServer.Server.dll
src/standalone/bin/Release/net6.0/Microsoft.Win32.SystemEvents.dll
src/standalone/bin/Release/net6.0/MySql.Data.dll
src/standalone/bin/Release/net6.0/Newtonsoft.Json.dll
src/standalone/bin/Release/net6.0/Npgsql.dll
src/standalone/bin/Release/net6.0/Oracle.ManagedDataAccess.dll
src/standalone/bin/Release/net6.0/System.Configuration.ConfigurationManager.dll
src/standalone/bin/Release/net6.0/System.Diagnostics.DiagnosticSource.dll
src/standalone/bin/Release/net6.0/System.Diagnostics.EventLog.dll
src/standalone/bin/Release/net6.0/System.Diagnostics.PerformanceCounter.dll
src/standalone/bin/Release/net6.0/System.DirectoryServices.dll
src/standalone/bin/Release/net6.0/System.DirectoryServices.Protocols.dll
src/standalone/bin/Release/net6.0/System.Drawing.Common.dll
src/standalone/bin/Release/net6.0/System.IdentityModel.Tokens.Jwt.dll
src/standalone/bin/Release/net6.0/System.IO.Pipelines.dll
src/standalone/bin/Release/net6.0/System.Memory.Data.dll
src/standalone/bin/Release/net6.0/System.Runtime.Caching.dll
src/standalone/bin/Release/net6.0/System.Security.Cryptography.ProtectedData.dll
src/standalone/bin/Release/net6.0/System.Security.Permissions.dll
src/standalone/bin/Release/net6.0/System.Text.Encodings.Web.dll
src/standalone/bin/Release/net6.0/System.Text.Json.dll
src/standalone/bin/Release/net6.0/System.Windows.Extensions.dll
src/standalone/bin/Release/net6.0/ZstdSharp.dll
src/standalone/bin/Release/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
src/standalone/bin/Release/net6.0/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
src/standalone/bin/Release/net6.0/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
src/standalone/bin/Release/net6.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
src/standalone/bin/Release/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
src/standalone/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
src/standalone/bin/Release/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
src/standalone/bin/Release/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
src/standalone/bin/Release/net6.0/runtimes/win-x64/native/comerr64.dll
src/standalone/bin/Release/net6.0/runtimes/win-x64/native/gssapi64.dll
src/standalone/bin/Release/net6.0/runtimes/win-x64/native/k5sprt64.dll
src/standalone/bin/Release/net6.0/runtimes/win-x64/native/krb5_64.dll
src/standalone/bin/Release/net6.0/runtimes/win-x64/native/krbcc64.dll
src/standalone/bin/Release/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
src/standalone/bin/Release/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
src/standalone/obj/ETL.Scalable.csproj.nuget.dgspec.json
src/standalone/obj/ETL.Scalable.csproj.nuget.g.props
src/standalone/obj/ETL.Scalable.csproj.nuget.g.targets
src/standalone/obj/project.assets.json
src/standalone/obj/project.nuget.cache
src/standalone/obj/Release/net6.0/apphost
src/standalone/obj/Release/net6.0/ETL.Scalable.AssemblyInfo.cs
src/standalone/obj/Release/net6.0/ETL.Scalable.AssemblyInfoInputs.cache
src/standalone/obj/Release/net6.0/ETL.Scalable.assets.cache
src/standalone/obj/Release/net6.0/ETL.Scalable.csproj.AssemblyReference.cache
src/standalone/obj/Release/net6.0/ETL.Scalable.csproj.CopyComplete
src/standalone/obj/Release/net6.0/ETL.Scalable.csproj.CoreCompileInputs.cache
src/standalone/obj/Release/net6.0/ETL.Scalable.csproj.FileListAbsolute.txt
src/standalone/obj/Release/net6.0/ETL.Scalable.dll
src/standalone/obj/Release/net6.0/ETL.Scalable.genruntimeconfig.cache
src/standalone/obj/Release/net6.0/ETL.Scalable.pdb
src/standalone/obj/Release/net6.0/ETL.Scalable.sourcelink.json
src/standalone/obj/Release/net6.0/ref/ETL.Scalable.dll
src/standalone/obj/Release/net6.0/refint/ETL.Scalable.dll
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/CoverletSourceRootsMapping_ETL.Enterprise.IntegrationTests
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.Application.dll
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.Application.pdb
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.Domain.dll
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.Domain.pdb
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.Infrastructure.dll
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.Infrastructure.pdb
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.IntegrationTests.dll
tests/ETL.Enterprise.IntegrationTests/bin/Release/net8.0/ETL.Enterprise.IntegrationTests.pdb
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/ETL.Enterprise.IntegrationTests.AssemblyInfo.cs
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/ETL.Enterprise.IntegrationTests.AssemblyInfoInputs.cache
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/ETL.Enterprise.IntegrationTests.csproj.AssemblyReference.cache
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/ETL.Enterprise.IntegrationTests.dll
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/ETL.Enterprise.IntegrationTests.pdb
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/ref/ETL.Enterprise.IntegrationTests.dll
tests/ETL.Enterprise.IntegrationTests/obj/Release/net8.0/refint/ETL.Enterprise.IntegrationTests.dll
tests/ETL.Enterprise.UnitTests/bin/Release/net8.0/CoverletSourceRootsMapping_ETL.Enterprise.UnitTests
tests/ETL.Enterprise.UnitTests/obj/Release/net8.0/ETL.Enterprise.UnitTests.AssemblyInfo.cs
tests/ETL.Enterprise.UnitTests/obj/Release/net8.0/ETL.Enterprise.UnitTests.AssemblyInfoInputs.cache
tests/ETL.Enterprise.UnitTests/obj/Release/net8.0/ETL.Enterprise.UnitTests.csproj.AssemblyReference.cache
